# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log
### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

.idea/libraries/SBT__com_fasterxml_jackson_core_jackson_annotations_2_7_0_jar.xml
.idea/libraries/SBT__com_fasterxml_jackson_core_jackson_core_2_7_6_jar.xml
.idea/libraries/SBT__com_fasterxml_jackson_core_jackson_databind_2_7_6_jar.xml
.idea/libraries/SBT__com_thoughtworks_paranamer_paranamer_2_8_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_actor_2_12_2_4_17_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_http_2_12_10_0_5_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_http_core_2_12_10_0_5_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_http_jackson_2_12_10_0_5_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_http_spray_json_2_12_10_0_5_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_http_testkit_2_12_10_0_5_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_http_xml_2_12_10_0_5_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_parsing_2_12_10_0_5_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_stream_2_12_2_4_17_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_stream_testkit_2_12_2_4_17_jar.xml
.idea/libraries/SBT__com_typesafe_akka_akka_testkit_2_12_2_4_17_jar.xml
.idea/libraries/SBT__io_spray_spray_json_2_12_1_3_3_jar.xml
.idea/libraries/SBT__net_liftweb_lift_json_2_12_3_1_0_M2_jar.xml
.idea/libraries/SBT__org_scala_lang_modules_scala_xml_2_12_1_0_6_jar.xml
.idea/libraries/SBT__org_scala_lang_scala_compiler_2_12_2_jar.xml
.idea/libraries/SBT__org_scala_lang_scala_reflect_2_12_2_jar.xml
.idea/libraries/SBT__org_scala_lang_scalap_2_12_2_jar.xml
.idea/workspace.xml
hs_err_pid11040.log
hs_err_pid11432.log
hs_err_pid11620.log
hs_err_pid11912.log
hs_err_pid12640.log
hs_err_pid23160.mdmp
hs_err_pid43288.log
hs_err_pid5168.log
hs_err_pid5236.log
hs_err_pid5236.mdmp
hs_err_pid624.log
hs_err_pid624.mdmp
hs_err_pid7228.mdmp
project/target/
replay_pid11040.log
replay_pid11432.log
replay_pid11620.log
replay_pid11912.log
replay_pid12640.log
replay_pid43288.log
replay_pid5168.log
replay_pid5236.log
src/test/




























